<% cache team do %>
    <div class="row-reverse team_wrapper">
      <div class="col-xs-12 col-md-6">
          <p class="team_image">
            <%=link_to image_tag(team.image_url, class: "img-responsive img-team") ,team if team.image_url %>
          </p>
      </div><!-- /col -->
      <div class="col-xs-12 col-md-6">
          <h1 class="team_name"><%= team.name %></h1>
          <p class="team_body"><%= team.body %></p>
      </div>
    </div>
<% end %>