
<div class="contact">
<h1>contact details</h1>
      <h2>headquarter </h2>
      <p>
  
      Maybachufer69
      12047 Berlin 
      Germany </p>
<p1>Find me in app/views/static_pages/contact.html.erb</p1>
</div>
<div class="container map"> 
    <div class="row">
        <div class="col-md-6 col-xs-12" >
                    <iframe width="100%" height="250em" frameborder="0" style="border: 2px solid black" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJOXwj07NPqEcRIKh_b_xuLuw&key=AIzaSyBtZqTSqByUkNH6QYT9cQxLXw3G_iyjWYo" allowfullscreen></iframe> 
        </div>  <!--col-->
    </div>  <!--row--> 
</div>  <!--end container-->