

<div class= "header-content">
<h1>Welcome to Surf Berlin</h1>
<p>Yor place to share surfboards</p>
<%= image_tag("uluwatu_boards_1.jpg", class: "img-responsive img-homepage") %>
</div> <!-- end header-content -->

