<h1>What is Polvo family?</h1>
<p class='about'>Wiedziałem że tak będzie
Zawsze za nic lądujemy na komendzie
Dla nas wpierdol im dumy przybędzie
Chwila niech zacznę od początku by nie stracić wątku
Wszystko prawda muszę być w porządku
Był zwykły letni warszawski dzień
Razem z Klimą siadam w cień
Vienio weź płytę zmień
A my pogadamy na temat marzeń
Nagle słyszę - ,,Ręce z kieszeni. Dokumenty!"
Odwracam się - a to niebieskie mendy
Nikt nie ma dokumentów bo nikt nie jest pierdolnięty
Klima i ja w radiowozie zamknięty
Szybciej niż można było się zorientować
Komisariat - tam będą transportować
Wpierdol pewny nie musisz prowokować
Stanąć na rozpoznaniu w jednej linii
Wypuścili wszystkich okazaliśmy się niewinni
Parę batów za to że od społeczeństwa inni
Za to że żyjemy i jesteśmy wszędzie
Ja znów wiedziałem że tak będzie</p>

<p class='about'>Nie zamykaj mamo dzisiaj drzwi bo późno będę
Z chłopakami idziemy dziś na kolędę
Za chwilę do domu i do metra pędem
Wkurwiony bo stałem pod pocztowym urzędem
[Din don] 
Słychać u Krępola dzwonek ale nikogo nie ma na dole
Cała ekipa o ósmej ustawiła się na szkole
Od kilku lat klepiemy tą samą dolę
Co pijesz - Goudę? Browar? Colę?
[y, y]
Browar wolę jeden drugi trzeci
Siemasz Volt jak leci
Spadajcie bo tu same dzieci
To samo co piątek alkohol się leje
Pijany typ rzyga, nastukany się śmieje
Melanże awantury w Hybrydach to już są dzieje
A dziś mam nadzieje że nie będzie tak jak wtedy
Najebany wszędzie zaliczałem gleby
Nawet nie pamiętam kto komu wypłacał chleby
Powiedz tamtemu żeby nie kozaczył
Lamus potem będzie się grubo tłumaczył
Ubliżył dostał przeprosić raczył
To było pewne jak techno w dredzie
Wiedziałem że tak będzie!
Wiedziałem że tak będzie!
</p>

<p2>More info soon!</p2>
