<div class="articles_wrapper">
  <div class="article_image_show">
  <p>
    <%= image_tag @article.image.url %>
  </p>
  </div>
  <div class="article_title_show">
  <h1 class="title">
    <%= @article.title %>
  </h1>
  </div>
  <p class="article_date_show">
    Submitted <%= time_ago_in_words(@article.created_at) %> ago|
  </p>

  <div class="article_body_show">
    <p class="body">
      <%= @article.body %>
    </p>
  </div>
</div>

