/* * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{ box-sizing: border-box;
}

.container-fluid .navbar-header {
	margin-top: 10px;
	padding-left: 33px;
	padding-right: 33px; 
}
.navbar-brand>img{
  max-width: 212px;
  margin-top: 23px;
}
.body {
  position: relative;
}
h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 17px 13px;
  margin-top: 12px;
  margin-left: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid black;
  border-radius: 35px;
}
.nav ul li {
	display: inline-block;
}
.nav ul li a {
	color: #ffffff;
	letter-spacing: 0.05em;
	text-decoration: none;
	font-size: 2em;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
font-size: 2em;
}
.item {
    margin-top: 200px;
}
.nav a:hover {
	color: #0142b6;
	text-decoration: none;
	-webkit-transition: color 600ms;
}
/*Typography*/
.nav a {
	font-family:  Lato, Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 100;
	-webkit-margin-before: 0;
	text-decoration: none
}
/*search window form*/
.form-group-mobile {
	display: inline-block;
  	border: 1px solid #9d9d9d;
}
.btn.btn-default {
	padding: 0px;
	height: 40px;
	width: 40px;
	background-color: transparent;
	border-color: transparent;
}
.glyphicon-search {
	font-size: 20px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
 	border-color: transparent;
 	margin: 0px;
 	padding-top: 7px;
}
/*end search window form */

/*mobile changing */
@media screen and (max-width: 620px) {
.menu-nav {
	margin: 95px 0 0 22px;
	padding: 0px;
}
.menu-nav>li {
	margin: 2px;
	display:inline-block;
}
.navbar-brand>img {
  max-width: 125px;
  margin: auto;
  height: auto;
  position: absolute;
  left: 33.333%;
}	
}
.login {
	display: inline-block;
	font-family: Courier, Helvetica, Arial, sans-serif;
	font-size: 8px;
	font-weight: 100;
	margin-top: 0px;
	padding-top: 0px;
}

.navbar-toggle {
	background-color: white;
  	width: 60px;
  	height: 60px;
}  
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000000;
	width: 30px;
  	height: 1px;
}
.navbar-inverse .navbar-toggle:hover {
  	background-color:#0142b6;
  	color: #0142b6;
}
.navbar-inverse {
	border-color: #101010;  
	width:100%;
	top: -1em;
	background-color: white;
	text-transform: uppercase;
}
.navbar-inverse .navbar-nav>li>a {
	font-family: Lato, Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	-webkit-margin-before: 0;
	position: static;
	padding: 10px 17px;
	color: #000000;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #0142b6;
}


.order_button_nav {
	margin-top: -8px;
    margin-left: 18px;
	border: solid 3px #0142b6;
	padding: 5px 17px;

}
@media screen and (min-width: 620px) {
.defineImage {
    content:url("hurley_logo.jpg");
}
.menu-nav {
	margin-top: 60px;
	margin-bottom: 0px;
}
.menu-nav li {
	margin: 0 20px 0 0;
	display: inline-block;
}	
.navbar {
	border: none;
}
.navbar-nav {
	margin-top: 10px;
}
.large-screen {
	font-family: Courier, Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: 100;
	-webkit-margin-before: 0;
	position:static;	
	float: right;
	margin-top: 77px;
	margin-bottom: 77px;
}
}
form input[type=submit]:not(.disabled):hover, form input[type=button]:not(.disabled):hover, form button:not(.disabled):hover {
    background-color: #0142b6;
    background-image: none;
    color: white;
}
a.button:not(.disabled):hover, a:link.button:not(.disabled):hover,
a:visited.button:not(.disabled):hover, input[type=submit]:not(.disabled):hover,
input[type=button]:not(.disabled):hover, button:not(.disabled):hover {
    background-color: white;
    background-image: none;
    color: white;
}
.footer {
	width: 100%;
	height: 3em;
	margin: 10em auto;
	border-top: 12px solid black;
	padding: 0 15px;
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
}
.footer_icons {
    display: inline;
    float: right;
    margin: 50px;
}
.footer_icons img {
    margin: 0 8px;
}

.footer>h1 {
	padding: 0.5em;
	float:left;
	font-family: Courier, Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 100;
	color: black;
	-webkit-margin-before: 0;
	position: absolute;
}





