*{ box-sizing: border-box;
}
.menu-nav {
	margin: 0;
}
.menu-nav ul li a {
	margin: 0 20px 0 0;
	display: inline-block;
}
.navbar-brand>img{
  max-width: 60px;
  margin-top: -12px;
}
body {
  position: relative;
}
.navbar-header {
  	background-color: #9e9e9e;
  	margin-top:4em;
  	}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 17px 10px;
    margin-top: 8px;
    margin-left: 73px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.nav ul li {
	display: inline-block;
	background-color: #2ecee5;
}
.nav ul li a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-decoration: none;
}
.nav a:hover {
	color: #ff0;
	text-decoration: none;
	-webkit-transition: color 600ms;
}

/*Typography*/
.nav a {
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: 100;
	-webkit-margin-before: 0;
}
.navbar-nav {
	font-family: Courier, Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 100;
	-webkit-margin-before: 0;
	position: static;	
}

/*mobile changing */

@media screen and (max-width: 620px) {
  .defineImage {
    content:url("../img/golebiowski_logo.png");
  }
  
  }
  .navbar-toggle {
  	background-color: red;
  	right: 0em;
  }
  .navbar-inverse  {
    border-color: #101010;  
    width:100%;
    top: -1em;
    background-color: transparent;
	}
}

@media screen and (min-width: 620px) {
.defineImage {
    content:url("../img/golebiowski_logo_white.png");
  }
} 






.wrap {
	margin-top: 3em;
}

.wrap img {
	width: 30%;
	height: 36.242%;
	position: relative;
	top: 1em;
}
.contact-details {
	font-family: Courier, Helvetica, Arial, sans-serif;
    font-size: 1em;
    -webkit-margin-before: 0;
    position: relative;
    float: left;
    left: -6em;
    top: 15em;
}
.address p:hover {
	color: #2ecee5;
	text-decoration: none
	-webkit-transition: color 600ms;	
}

.panel-group {
	margin-bottom: 1em;
	margin-top: 5em;
}
.panel-title {
	font-family: Courier, Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	-webkit-margin-before: 0;	
	position: relative;
	}
.panel-title a:hover {
	color: #0070c0;
	text-decoration: none
	-webkit-transition: color 600ms;
}
.panel-default>.panel-heading {
	background-color: #ff6600;
}

.carousel-caption h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 4em;
	font-weight: 500;
	text-align: right;
	position: relative;
	right:-30%;
}
.carousel-caption p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: 500;
	text-align: right;
	position: relative;
	right:-30%;
}
.header {
	position: fixed;
	z-index:1;
	margin-bottom: 1em;
	padding: 0em 0em 3em 0em;
}
.img-changes img {
	margin: 10px;
	width: 120em;
	height: 100%;

}
.container {
	padding:10px;
	width:100% ;	
}
.row {
	width: 100%;
}
.col-xs-6 {
	padding: 0.5%;
}
.mapa img {
	position :relative;
	border: 2px solid black;
}
#work .container{
	margin top:2em;
	padding: 0px;

}


}
.body { 
	position:relative; 
}
.anchor {
	padding-top: 50px
}
.projectName img {
	 width: 12%;
	 position: fixed;
	 top: 0.5%;
}
#contact {
    background-image: url("../img/SURFBOARDS.jpg");
/*Add a background image*/
    background-attachment: fixed;
/*Give the background a fixed position does it not scroll when you scroll*/
    background-size: cover;
/*Have the background cover the entire div section*/
    color: #ff5722;

/*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
    padding:100px;
    padding-top: 50px;
    height: 400px;
}
.address h2 {
	color: white;
	font-size: 5.9vw;
}
.address p {
	color: black;
	font-size: 2vmin;
}
.contact-details h1 {
	color: #ff5722;
	font-size: 3.0vh
}
#map {
	padding-top: 10%;
	position :relative;	
	height: 450px;
	width: 100%; 
	border: solid ;
}

.video {
	margin-top: 2em;
	border: 1px solid black;
}

.form-control {
	padding: 1em:;
	margin: 0 auto;
	width:80%;	
}
.form-group {
	margin-top:5%;
	margin-left: 10%;
	width:80%
}
.form-control:hover {
	background-color: #f0c75e;
	border-color: #000000;
}
	
.btn:hoover{
	background color:  #ff5722;
	text-decoration: none
	-webkit-transition: color 600ms;	
}

.btn-default:hover {
background-color: #ff5722;
border-color: #000000;
}
#contact2 {
	padding-top: 10%;
	right: 0%;
	position :relative;;	
}
.footer-social {
	
	height: 3em;
	margin: 5em auto;
	background-color: orange;
	}
.footer-social p {
	padding: 0.5em;
	float:right;
}
.twitter {
padding: 1em;
}
.fb-like {
padding: 1em;	
}
.pinterest {
padding: 1em;		
}
.learn-more {
  text-align: left;
  float: left;
  padding:2em 1em;
  display: inline-block; 
}

 #item1 {
  color:#000000;
 }

.modal-button {
	position: relative;
	float: right;
	top: -10em;
  padding: 2em;
}

}
#portfolio {
    height: 500px;
    width: 100%;
    padding: 10px;
}
#backggg {
	top:60em;
	position: absolute;
	width:100%;
	background-image: url("../img/og.jpg");
	padding: 10%;
	border: 3px solid;
}

.work-img {
  display: block; /* needed to center the element with margin */
  margin: auto; /* center the image inside the column if it's smaller */
  max-width: 120em; /* needs to be set to the width of your image files if they are relatively small */
  position: relative; /* is needed for .info position: absolute to work */
}
.info {
  position: absolute; /* let's us move the text around and not worry about the image */
  top: 15%; /* position the text 15% away from the top */
  position: absolute;
  top: 15%;
  left: 22%;
  color:#ff5722;
  font-family: Courier;
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:0.5em;
  line-height:1.6;
  display: none


}
.proj-title {
  font-weight:100;
}




/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
