// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles_wrapper {
	margin-top: 150px
}
.articles_wrapper a {
  text-decoration: none;
  margin-left: 33px;
  font-family: Lato;
  font-size: 30px;
}
.img-articles {
  margin: 0 auto;
  width: 28em;
  height: 100%; 
}
.img-articles:hover {
  border: 7px solid #0142b6;
}
.article_image {
	margin: 20px 25px;
}
.article_title {
	display: inline;
}
.article_date {
	display: inline;
	float: right;
}
.article_image_show {
    margin-top: 139px;
    float:right
}
.article_image_show img {
  max-width: 75%;
  float: right;
}
.article_date_show {
  display: inline;
  float: right;
}
.article_title_show {
  margin-left: 150px;
  margin-top: 90px;
}
.article_title_show h1 {
  margin-top: 60px;
}
.article_body_show {
  width: 50%;
  margin: 0 auto;
}