// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles_wrapper_show {
	margin-top: 150px;
    a {
      text-decoration: none;
      margin-left: 33px;
      font-family: Lato;
      font-size: 30px;
    }
  }
.img-articles {
  margin: 0 auto;
  width: 45em;
  height: 100%; 
}
.img-articles:hover {
  border: 7px solid #0142b6;
}
.article_image {
	margin: 20px 25px;
}
.article_title {
	display: inline;
   a {
      text-decoration: none;
      margin-left: 33px;
      font-family: Lato;
      font-size: 30px;
    }
}
.article_date {
	display: inline;
	float: right;
}
.article_image_show {
  margin-top: 139px;
  margin-bottom: 100px;
  float:right;
  img {
    max-width: 50%;
    float: right;
    margin-right: 33px;
  }
  .title {
    margin-top: 115px;
    margin-left: 80px;
  }
}
.article_date_show {
  display: inline;
  float: right;
}
.article_title_show {
  margin-left: 150px;
  margin-top: 90px;
  .title {
    display: inline;
    margin-top: 60px;
  }
}
.article_body_show {
  width: 50%;
  margin-left: 80px;
}