// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
margin-top: 232px;
}
.articles_wrapper a {
  text-decoration: none;
  margin-left: 33px;
  font-family: Lato;
  font-size: 30px;
}