<p id="notice"><%= notice %></p>

<div class="header_products">

<h1>polvo boards</h1>

</div> <!--end header_products-->
<br>
 
<div class="container-fluid">
  <div class="row">
	  <% cache @products do %>
	    <% @products.each do |product| %>
	      <%= render partial: "product", locals: {product: product} %>
    	<% end %>
    <% end %>
  </div>
</div>


</br> <!--end row-->



<!--<img class="img-responsive img-products" src=http://cdn.shopify.com/s/files/1/0597/1765/products/Hawaiian_Hawaiian_1_cluster_web_1024x1024_v2_59be63d6-7a0b-4649-8464-f568cea271d5_1024x1024.jpg?v=1423096447>-->                        





