<p id="notice"><%= notice %></p>

<h1>Products</h1>


<br>



<%= link_to 'New Product', new_product_path %>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <%= render partial: "product", locals: {product: product} %>
    <% end %>
  </div>
</div>

          


</div> <!--end row-->


<!--<img class="img-responsive img-products" src=http://cdn.shopify.com/s/files/1/0597/1765/products/Hawaiian_Hawaiian_1_cluster_web_1024x1024_v2_59be63d6-7a0b-4649-8464-f568cea271d5_1024x1024.jpg?v=1423096447>-->                        






